<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoRaWAN Web App</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">
</head>
<body>
    <!--Banner at the top-->
    <div id="header">
        <h1>LoRaWAN</h1>
        <h3>Web App</h3>
    </div>
    <!--div for centering all Sensors-->
    <div id="sensors">
        <!-- ToDo: Decide between zisterne and plants. Only generate the fields they need-->
        <% entries.forEach(entrie =>{
            if(entrie.level){%>
                <div class="sensor">
            <table>
                <tr>
                    <th><%=entrie.name%></th>
                    <th>Daten</th>
                </tr>
                <tr>
                    <td >Zeitstempel</td>
                    <td><%=entrie.time || "none"%></td>
                </tr>
                <tr>
                    <td>Temperatur</td>
                    <td><%=entrie.temperature || "none"%></td>
                </tr>
                <tr>
                    <td>Füllstand</td>
                    <td><%=entrie.level  || "none"%></td>
                </tr>
                <tr>
                    <td>Gateway</td>
                    <td><%=entrie.gateway || "none"%></td>
                </tr>
            </table>
        </div>
            <%}else{%>
            <div class="sensor">
            <table>
                <tr>
                    <th><%=entrie.name%></th>
                    <th>Daten</th>
                </tr>
                <tr>
                    <td >Zeitstempel</td>
                    <td><%=entrie.time || "none"%></td>
                </tr>
                <tr>
                    <td>Gateway</td>
                    <td><%=entrie.gateway || "none"%></td>
                </tr>
                <tr>
                    <td>Temperatur</td>
                    <td><%=entrie.temperature || "none"%></td>
                </tr>
                <tr>
                    <td>Bodenfeuchtigkeit</td>
                    <td><%=entrie.humidity || "none"%></td>
                </tr>
                <tr>
                    <td>Bewässerungsmenge</td>
                    <td class="noPadding background_color_225">
                        <form>
                            <select class="level_fit">
                                <option value="5">5 Liter</option>
                                <option value="10">10 Liter</option>
                                <option value="20">20 Liter</option>
                                <option value="30">30 Liter</option>
                                <option value="50">50 Liter</option>
                                <option value="70">70 Liter</option>
                                <option value="100">100 Liter</option>
                            </select>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Bewässerungszeit</td>
                    <td class="noPadding background_color_225"><input type="time" name="watering_time" class="watering_time_fit"></td>
                </tr>
            </table>
        </div>
        <%}});%>
    </div>
    
</body>
</html>