<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prototyp</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>

<body>
    <!--Navbar-->
    <nav class="navbar sticky-top navbar-light"> <!--justify-content-between-->
        <a class="navbar-brand navbar-heading">Kaspersa Bachelorthesis</a>
        <button class="btn btn-primary btn-filter-margin" data-bs-toggle="collapse" data-bs-target="#collapseFilter">Filter</button>
    </nav>

    <!--Filter area-->
    <div class="collapse" id="collapseFilter">
        <div class="card card-body">
            <form action="#" method="post" class="margin-lr-10px">
                <div class="filter-container align-center">
                    <div class="col-2">
                        <input type="radio" id="temp" name="filter_type" value="temp">
                        <label for="temp">Temperatur</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" id="level" name="filter_type" value="level">
                        <label for="level">Füllstand</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" id="io" name="filter_type" value="io">
                        <label for="io">I/O</label> 
                    </div>
                    <div class="col-2">
                        <input type="radio" id="all" name="filter_type" value="all">
                        <label for="all">Alles</label> 
                    </div>
                    <div class="col-2">
                        <input type="text" id="filter_search" name="filter_search" class="form-control" placeholder="Sensor..." aria-label="Suche" aria-describedby="button-addon2" value="">
                    </div>
                    
                    <div class="col-2 btn-align-right">
                        <%
                        let str = "";
                        entries.forEach(entrie=>{
                            //add parameters for search
                            str = str + entrie._id+","+entrie.name+","+entrie.soil_temperature+","+entrie.air_temperature+","+entrie.distance+"|";
                        });
                        %>
                        <button class="btn btn-primary" type="button" id="button-addon2" onclick="myFilter('<%=str%>')">Suche</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <%entries.forEach(entrie=>{
    if(entrie.alert){%>
    <div class="alert alert-<%=entrie.alert%>">Wasserstand von <%=entrie.name%> niedrig!</div>
    <%}})%>

    <!--Akkordeon-->
    <div class="container-fluid margin-top-20">
    <div class="row">
    <form id="direct-download-form" name="direct-download-form" action="/directDownlink" method="post"></form>
    <div class="col-sm-1 col-md-2 col-lg-3"></div>
    <div class="accordion col-sm-10 col-md-8 col-lg-6" id="accordion">
        <!--Item-->
        <%entries.forEach((entrie,index)=>{
            let no_spaces_name = entrie.name.replace(" ","_");%>
            <div class="accordion-item" id="<%=entrie._id%>">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="<%=`#${no_spaces_name}`%>" aria-expanded="true"
                        aria-controls="<%`${no_spaces_name}`%>">
                        <%=entrie.name%>
                    </button>
                </h2>
                <div id="<%=no_spaces_name%>" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordion">
                    <div class="accordion-body">
                        <form action="/update" method="post">
                        <table>
                            <!--Name-->
                            <tr>
                                <td><strong>Gerätename:</strong></td>
                                <td>
                                    <%=entrie.name%>
                                </td>
                            </tr>

                            <!--Zeitstempel-->
                            <tr>
                                <td><strong>Zeitstempel:</strong></td>
                                <td>
                                    <%=entrie.time %>
                                </td>
                            </tr>

                            <!--Gateway-->
                            <tr>
                                <td><strong>Gateway:</strong></td>
                                <td>
                                    <%=entrie.gateway %>
                                </td>
                            </tr>

                            <!--Standort-->
                            <tr>
                                <td><strong>Standort:</strong></td>
                                <td>
                                    <%=entrie.city %>
                                </td>
                            </tr>

                            <!--Wetter-->
                            <tr>
                                <td><strong>Wettervorhersage (3h):)</strong></td>
                                <td>
                                    <%=entrie.weather_forecast_3h %>
                                </td>
                            </tr>

                            <!--Signal Strength-->
                            <tr>
                                <td><strong>RSSI:</strong></td>
                                <td>
                                    <%=entrie.rssi %>
                                </td>
                            </tr>
                            
                            <!--Spacing-->
                            <%if(entrie.air_temperature || entrie.air_humidity || 
                                entrie.soil_temperature || entrie.soil_humidity || 
                                entrie.distance){%>
                                <tr>
                                    <td><hr></td>
                                    <td><hr class="spacing-right"></td>
                                </tr>
                            <%}%>

                            <!--Lufttemperatur-->
                            <%if(entrie.air_temperature){%>
                                <tr>
                                    <td><strong>Lufttemperatur:</strong></td>
                                    <td>
                                        <%=entrie.air_temperature +" °C" %>
                                    </td>
                                </tr>
                            <%}%>

                            <!--Luftfeuchtigkeit-->
                            <%if(entrie.air_humidity){%>
                                <tr>
                                    <td><strong>Luftfeuchtigkeit:</strong></td>
                                    <td>
                                        <%=entrie.air_humidity +" %" %>
                                    </td>
                                </tr>
                            <%}%>

                            <!--Bodentemperatur-->
                            <%if(entrie.soil_temperature){%>
                                <tr>
                                    <td><strong>Bodentemperatur:</strong></td>
                                    <td>
                                        <%=entrie.soil_temperature %>
                                    </td>
                                </tr>
                            <%}%>

                            <!--Bodenfeuchtigkeit-->
                            <%if(entrie.soil_humidity){%>
                                <tr>
                                    <td><strong>Bodenfeuchtigkeit:</strong></td>
                                    <td>
                                        <%=entrie.soil_humidity %>
                                    </td>
                                </tr>
                            <%}%>

                            <!--Füllstand-->
                            <%if(entrie.distance){%>
                                <tr>
                                    <td><strong data-toggle="tooltip" data-placement="top" title="Bei weniger als 10% wird automatisch auf eine alternative Wasserversorgung umgeschalten.">Füllstand:</strong></td>
                                    <td>
                                        <%=entrie.distance%>
                                    </td>
                                </tr>
                            <%}%>

                            <!--Spacing-->
                            <tr>
                                <td><hr></td>
                                <td><hr class="spacing-right"></td>
                            </tr>

                            <!--Zeitsteuerung-->
                            <%if(entrie.soil_humidity){%>
                                <tr>
                                    <td><strong data-toggle="tooltip" data-placement="top" title="Checkbox aktivieren um die Zeitsteuerung zu verwenden. Andernfalls werden nur die angegebenen Grenzwerte verwendet.">Zeitsteuerung verwenden:</strong>
                                    </td>
                                    <td class="display_flex">
                                        <%if(entrie.time_control == "true"){%>
                                            <input id="time_control_<%=index%>" name="time_control" type="checkbox" onclick="myCheckbox('time_control_<%=index%>')"
                                            class="input-group-text time_control" value="<%=entrie.time_control%>" checked="true">
                                        <%}else{%>
                                            <input id="time_control_<%=index%>" name="time_control" type="checkbox" onclick="myCheckbox('time_control_<%=index%>')"
                                            class="input-group-text time_control" value="<%=entrie.time_control%>">
                                        <%}%>
                                        
                                        <input id="watering_time_<%=index%>" name="watering_time" type="time" 
                                            class="input-group-text"
                                            value="<%=entrie.watering_time%>">
                                    </td>
                                </tr>
                            <%}%>

                            <!--Min Max Bodenfeuchtigkeit-->
                            <%if(entrie.soil_humidity){%>
                                <tr>
                                    <td><strong data-toggle="tooltip" data-placement="top" title="Links: Grenzwert zum Starten der Bewässerung. Rechts: Grenzwert zum Beenden der Bewässerung.">Grenzwerte<br>Bodenfeuchtigkeit:</strong>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input id="hum_min_<%=index%>" name="hum_min" type="text" class="form-control w50px"
                                                value="<%=entrie.hum_min%>">
                                            <span class="input-group-text border-radius-right">%</span>
                                            
                                            <span class="pad_lr_15px"> bis </span>

                                            <input id="hum_max_<%=index%>" name="hum_max" type="text" class="form-control w50px border-radius-left"
                                                value="<%=entrie.hum_max%>">
                                            <span class="input-group-text">%</span>
                                        </div>
                                    </td>
                                </tr>
                            <%}%>

                            <!--Maximaler Füllstand-->
                            <%if(entrie.distance){%>
                                <tr>
                                    <td><strong data-toggle="tooltip" data-placement="top" title="Distanz vom Sensor bis zum Boden des leeren Wasserbehälters angeben.">Maximale Distanz <br>zum Boden:</strong></td>
                                    <td>
                                        <div class="input-group w150px">
                                            <input id="max_distance_<%=index%>" name="max_distance" type="text" class="form-control"
                                                value="<%=entrie.max_distance%>">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                    </td>
                                </tr>
                            <%}%>

                            <!--Beschreibung-->
                            <tr>
                                <td><strong>Beschreibung:</strong></td>
                                <td>
                                    <div class="input-group">
                                        <textarea id="description_<%=index%>" name="description" class="form-control" value="<%=entrie.description%>"><%=entrie.description%></textarea>
                                    </div>
                                </td>
                            </tr>

                            <%if(entrie.soil_humidity){%>
                            <!--Spacing-->
                            <tr>
                                <td><hr></td>
                                <td><hr class="spacing-right"></td>
                            </tr>

                            <!--Manuelle Steuerung-->
                            <tr>
                                <td><strong data-toggle="tooltip" data-placement="top" title="Startet die Bewässerung, wenn sie inaktiv ist /  Beendet die Bewässerung, wenn sie aktiv ist.">Manuelle Steuerung:</strong></td>
                                <td>
                                    <div class="display_flex manual-ctrl">
                                        <span id="last_soil_downlink_<%=index%>" class="last_soil_downlink"><%=entrie.last_soil_downlink%></span>
                                        <input id="direct-downlink-btn_<%=index%>" name="direct-downlink-btn" form="direct-download-form" type="submit" class="btn btn-primary form-control direct-downlink-btn" value="Umschalten"></input>   
                                    </div>
                                </td>
                            </tr>
                            <%}%>

                            <!--ID-->   
                            <tr hidden>
                                <td><strong>Database ID</strong></td>
                                <td><input id="dbid_<%=index%>" name="dbid" readonly value="<%=entrie._id%>"></td>
                            </tr>        

                            <!--Submit Button-->
                            <tr>
                                <td>
                                    <button type="submit" class="btn btn-primary margin-top-20">Änderungen speichern</button>
                                </td>
                            </tr>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
            <%});%>
        </div>
    </div>
    <div class="col-sm-1 col-md-2 col-lg-3"></div>
</div>

<script>
function myCheckbox(id){
    let checkbox = document.getElementById(id);
    if(checkbox.checked){
        checkbox.value = "true";
    }else{
        checkbox.value = "false";
    }
}

function myFilter(entrieString){
    //checked radio button
    let radioBtn = document.querySelector('input[name="filter_type"]:checked');
    //search bar value
    let search = document.getElementById("filter_search").value;
    //akkordeon entries with id, type, name
    let entries = entrieString.split("|");

    for(let i=0;i<entries.length-1;i++){
        let option = entries[i].split(",");

        if(search!=""){
            // Option[2] is the entrie name. Save it to convert it to string to use include
            let name = option[1]+"";
            if(name.includes(search)){
                document.getElementById(option[0]).style = "display: block";
            }else{
                document.getElementById(option[0]).style = "display: none";
            }
        }else{
            // if a button was checked
            if(radioBtn){
                console.log(`radio button ${radioBtn.id} was checked`);
                // if button all was checked
                if(radioBtn.id == "all"){
                    document.getElementById(option[0]).style = "display: block";
                // if button temperature was checked
                }else if(radioBtn.id=="temp"){
                    if(option[2] == "undefined" && option[3] == "undefined"){
                        document.getElementById(option[0]).style = "display: none";
                    }else{
                        document.getElementById(option[0]).style = "display: block";
                    }
                //if button füllstand was checked
                }else if(radioBtn.id=="level"){
                    if(option[4] == "undefined"){
                        document.getElementById(option[0]).style = "display: none";
                    }else{
                        document.getElementById(option[0]).style = "display: block";
                    }
                }else if(radioBtn.id=="io"){
                    if(option[2] == "undefined" && option[3] == "undefined" && option[4] == "undefined"){
                        document.getElementById(option[0]).style = "display: block";
                    }else{
                        document.getElementById(option[0]).style = "display: none";
                    }
                }
            }else{
                console.log("radio button was not checked");
                document.getElementById(option[0]).style = "display: block";
            }
        }  
    }
}
</script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>