<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoRaWAN Web App</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">
</head>
<body>
    <!--Banner at the top-->
    <div id="header">
        <h1>LoRaWAN Web App</h1>
    </div>
    <!--div for centering all Sensors-->
    <div id="sensors">
        <% entries.forEach(entrie =>{%>
            <div class="sensor">
            <table>
                <tr>
                    <th><%=entrie.name%></th>
                    <th class="th_btn"><button>Bearbeiten</button></th>
                </tr>
                <tr>
                    <td>time</td>
                    <td><%=entrie.time%></td>
                </tr>
                <tr>
                    <td>temperatur</td>
                    <td><%=entrie.temperature%></td>
                </tr>
                <tr>
                    <td>humidity</td>
                    <td><%=entrie.humidity%></td>
                </tr>
                <tr>
                    <td>gateway</td>
                    <td><%=entrie.gateway%></td>
                </tr>
            </table>
        </div>
        <%});%>
    </div>

    <div id="add"><button>+</button></div>
    
</body>
</html>